body{
    font-family: sans-serif;
}

.background-list {
    width: 100%;
    height: 10em;
    background: url('https://www.shutterstock.com/image-illustration/iot-internet-things-industry-40-260nw-1495192142.jpg');
    border: none;
}

.background-list h3 {
    color: aliceblue;
    margin-top: 1em;
}

.avatar {
    position: absolute;
    top: 1.5em;
}

.button-s1 {
    --background: #0056f7;
    color: aliceblue;
    width: 10em;
    height: 2.8em;
    font-size: 15px;
}

.list-items .icons{
    font-size: 38px;
    color: #0057ed;
    opacity: 0.75;
}

.list-items a{
    font-weight: bold;
}