<ion-content [fullscreen]="true">
  <div class="flex flex-col px-4 mx-auto w-full">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/997ddb9ba3523dc9fb8070a73c32ce6208b4b72970e3fd86cfb799761b73ae77?apiKey=9cce0a3bf445400ab25afd487ca3b91b&"
      alt="IoT Connected Devices" class="self-center max-w-full aspect-[1.32] w-[200px]" />
    <h2 class="self-center text-base text-center uppercase font-bold text-black">register</h2>
    <p class="self-center mt-5 text-base text-center text-black">
      "Your IoT Connected Devices"
    </p>
    <form class="mt-4">
      <div class="mx-6 gap-2">
        <div class="relative my-3 inp-content" *ngFor="let input of formInput">
          <input 
            type="{{input.type}}" 
            id="{{input.id}}"
            class=" block border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            name="{{input.id}}"
            [(ngModel)]="input.ngModel"
          />
          <label 
            for="{{input.id}}"
            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
              {{input.label}}
          </label>
        </div>
        <p class="alter-error">{{error}}</p>
        <div class="flex items-center justify-between mt-4">
          <div class="flex items-center">
            <input type="checkbox" id="rememberMe" class="mr-2" />
            <label for="rememberMe" class="text-sm">Agree to Terms & Conditions</label>
          </div>
        </div>
        <button (click)="register()" type="submit"
          class=" py-2 mt-4 text-base font-bold text-center bg-blue-600 rounded-[40px] text-white text-opacity-90 w-full uppercase">
          register
        </button>
      </div>
    </form>
    <p class="mt-4 text-sm text-center">
      <span class="text-neutral-400">Already have an account?</span>
      <a href="/auth/login" class="text-blue-600">Login here</a>
    </p>
  </div>
  <div class="footer-gap w-full h-1/6"></div>
</ion-content>