.footer-gap {
    background:#0056f7;
    height: 7em;
    position: relative;
    display: block;
    margin-top: 2em;
}

.footer-gap::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 2em;
    top: -1em;
    // border-bottom-left-radius:2em;
    // border-bottom-right-radius:2em;
    clip-path: ellipse();
    display: block;
}