<ion-content [fullscreen]="true">
  <div class="flex flex-col px-4 mx-auto w-full max-w-[480px]">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e46f5a4cad949d3ed1eaaa44d36ab3e0334b8b52c68df867b2e05c9145c5a5d?apiKey=9cce0a3bf445400ab25afd487ca3b91b&"
      alt="IoT Connected Devices" class="self-center max-w-full aspect-[1.32] w-[200px]" />
    <h2 class="self-center mt-5 text-base text-center text-black">
      "Your IoT Connected Devices"
    </h2>
    <form class="mt-5">
      <div class="mx-6 gap-3">
        <div class="relative">
          <input type="text" id="fullname" name="fullname"
            class="block border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " />
          <label for="fullname"
            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
            Fullname</label>
        </div>
        <div class="relative mt-3">
          <input type="email" id="email" name="email" [(ngModel)]="email"
            class="block border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " />
          <label for="email"
            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
            Email</label>
        </div>
        <div class="relative mt-3">
          <input type="password" id="password" name="password" [(ngModel)]="password"
            class="block border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " />
          <label for="password"
            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
            Password</label>
        </div>
        <div class="flex items-center justify-between mt-3">
          <div class="flex items-center">
            <input type="checkbox" id="rememberMe" class="mr-2" />
            <label for="rememberMe" class="text-sm">I accept LOTODA terms</label>
          </div>
        </div>
        <button (click)="Register()" type="submit"
          class="px-12 py-3 mt-3 text-base font-bold text-center bg-blue-600 rounded-[40px] text-zinc-100 text-opacity-90 w-full">
          REGISTER
        </button>
      </div>
    </form>
    <p class="mt-4 text-base/6 text-center">
      <span class="text-neutral-400">ALredy have account?</span>
      <a href="/auth/login" class="text-blue-600">Login here</a>
    </p>
  </div>
</ion-content>