<ion-content [fullscreen]="true">
  <div class="flex flex-col px-4 py-2 mx-auto w-full max-w-[480px]">
    <div class="mt-6">
      <h1 class="self-center text-4xl/7 font-bold text-center text-blue-600">LOTODA</h1>
      <p class="self-center mt-4 text-base/7 text-center text-black">"Your Iot Connected Devices"</p>
    </div>
    <h2 class="self-start  mt-6 ml-6 text-xl/6 font-bold text-black">Create a new account</h2>
    <form>
      <div class="mx-6 gap-3">
        <div class="relative mt-6">
          <input type="text" id="fullname"
            class="block rounded border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " />
          <label for="fullname"
            class="absolute  text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
            Fullname</label>
        </div>
        <div class="relative mt-3">
          <input type="text" id="email"
            class="block rounded border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " />
          <label for="email"
            class="absolute  text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
            Email</label>
        </div>
        <div class="relative mt-3">
          <input type="text" id="password"
            class="block rounded border border-solid px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " />
          <label for="email"
            class="absolute  text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-1 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-2">
            Password</label>
        </div>
        <div class="flex gap-3 mt-3 w-full text-sm">
          <div class=" gap-4">
            <div class="text-neutral-400 flex items-center">
              <input type="checkbox" id="rememberMe" class="mr-2" />
              <label for="rememberMe" class="text-sn">I accept LOTODA terms</label>
            </div>
          </div>
        </div>
        <button type="submit"
          class="justify-center items-center px-12 py-3 mt-3 text-base font-bold text-center whitespace-nowrap bg-blue-600 rounded-[40px] text-zinc-100 text-opacity-90 w-full">
          REGISTER
        </button>
      </div>
    </form>
    <p class="mt-4 text-sn text-center">
      <span class="text-neutral-400">Alredy have a account?</span>
      <a href="auth/login" class="text-blue-600">Login here</a>
    </p>
    <h3 class=" text-sm italic font-bold text-black font-sans mx-6 mt-3">CONTACT US</h3>
    <div class="mx-6 gap-3  ">
      <div class="flex items-center justify-center mt-3">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/073cee06e8cae468256ffc27807bcfa2a2de185f7cd4c90045ba868d0bcb6da8?apiKey=9cce0a3bf445400ab25afd487ca3b91b&"
          alt="" class="mr-1 w-[7px]" />
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbfca050766011c9e928052dd7164234d58557271a289808795017c96e259d8b?apiKey=9cce0a3bf445400ab25afd487ca3b91b&"
          alt="" class="mr-1 w-[7px]" />
        <p class="flex-grow text-base">
          <span class="text-zinc-600">Website</span>:
          <a href="#" class="text-blue-600">http://lotoda.vn</a>
        </p>
      </div>
      <div class="flex items-center justify-center mt-3">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/073cee06e8cae468256ffc27807bcfa2a2de185f7cd4c90045ba868d0bcb6da8?apiKey=9cce0a3bf445400ab25afd487ca3b91b&"
          alt="" class="mr-1 w-[7px]" />
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbfca050766011c9e928052dd7164234d58557271a289808795017c96e259d8b?apiKey=9cce0a3bf445400ab25afd487ca3b91b&"
          alt="" class="mr-1 w-[7px]" />
        <p class="flex-grow text-base">
          <span class="text-zinc-600">Email</span>:
          <a href="#" class="text-blue-600">support&#64;lotoda.vn</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>