.button-s1 {
    --background: #0056f7;
    color: aliceblue;
    box-shadow: inset;
    width: 12em;
    font-size: 16px;
  }

.icon{
    font-size: 32px;
    margin-right: 1.1em;
    opacity: 0.3;
    padding-bottom: 0.35em;
    color: #0056f7;
}